.carousel-item>img {
    height: auto;
    width: 100%;
    max-height: 95vh;
}

.carousel-inner {
    margin-top: 45px;
}

.carousel-header-container {
    position: absolute;
    z-index: 1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.carousel-header-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}

/* ================================================================== */

/* ============================= Loader CSS ========================= */

.loading-overlay {
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 300px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* ============================= Loader CSS ========================= */

/* ========================== */

/* info related to movie card */

.movies-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    padding-top: 100px;
}

.movie-container {
    width: 19%;
    margin: 15px;
    font-family: roboto;
    padding: 10px;
    border: 2px solid #242f40;
    border-radius: 15px;
    -webkit-animation-duration: 3s;
    animation-duration: 2.5s;
}

.flex-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 2px;
}

.movie-container:hover {
    background-color: rgb(138, 137, 124, 0.5);
    cursor: pointer;
}

.movie-container:hover > img {
    opacity: 0.5;
}

.movie-container>p {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.movie-container>.poster {
    display: block;
    width: 100%;
    min-height: 200px;
}

@media screen and (min-width: 850px) and (max-width: 1199px) {
    .movie-container {
        width: 25%;
    }
}

@media screen and (min-width: 576px) and (max-width: 849px) {
    .movie-container {
        width: 40%
    }
}

@media screen and (max-width: 575px) {
    .movie-container {
        width: 70%;
    }
}

.hidden {
    display: none;
}

.custom {
    background: red;
    width: 200px;
    height: 200px;
}

.star-rating {
    font-size: 0.6em;
}

