<nav class="navbar navbar-expand-sm bg-dark fixed-top">


    <!-- Brand -->
    <a class="navbar-brand first-font-style" href="/">Rarrum Cima</a>

    <!-- The Menu Button When Collapse -->
    <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon flex-center">
            <i class="fas fa-bars"></i>
        </span>
    </button>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <!-- Navbar Left Section -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" data-scroll href="#movies" >Movies</a>
            </li>
        </ul>

        <!-- Navbar Right Section -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <i class="fas fa-user"></i>
                <a class="nav-link" href="/signup" target="_blank">Sign Up</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-sign-in-alt"></i>
                <a class="nav-link" href="/login" target="_blank">Login</a>

            </li>
        </ul>

    </div>

</nav>