<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rarrum Cima</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- Animate.CSS -->
    <link rel="stylesheet" href="/plugins/animate.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">

    <!-- Common CSS -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- This Page Custom CSS -->
    <link rel="stylesheet" href="/css/user/userMain.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <!-- The Main Container That Holds Everything -->
    <div class="container-fluid">
        <div class="row">

            <!-- Side Navbar -->
            <div class="col-2 bg-secondary flex-column flex-center profile-container wow slideInUp" data-wow-duration="3s">
                <div class="flex-center flex-column" style="position: fixed;">
                    <i class="fa fa-user"></i>
                    <h1>Email</h1>
                    <h1>Username</h1>
                </div>
                <div class="user-control flex-center flex-column">
                    <div class="container-fluid flex-center">
                        <button type='button' style="margin-right: 2px;" class='btn btn-danger'>Logout</button>
                        <button type='button' class='btn btn-success'>Search</button>
                    </div>

                    <input style="margin-top: 10px;" type="text" class="form-control" placeholder="Enter Movie Name">
                </div>
            </div>

            <!-- Content -->
            <div class="col-10 bg-light">

                <!-- Jumbotron -->
                <div class="container-fluid wow slideInRight" data-wow-duration="3s">
                    <div class="jumbotron">
                        <h1>Welcome To Your Homepage</h1>
                        <p>You can view edit and delete your favorite movies.</p>
                    </div>
                </div>

                <!-- Favorite Movies Container -->
                <div class="container-fluid">

                    <!-- All Favorite Movies -->
                    <ul class="list-group"></ul>

                </div>

            </div>

        </div>
    </div>

    <!-- Propper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <!-- Bootstrap 4 JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- wow JS -->
    <script src="/plugins/wow.min.js"></script>

    <!-- Bootbox JS -->
    <script src="/plugins/bootbox.min.js"></script>

    <!-- Common JS -->
    <script src="/js/common.js"></script>

    <!-- This Page Custom JS -->
    <script src="/js/user/userMain.js"></script>
</body>

</html>